{% extends 'base.html' %}
{% load static%}
{% block content %}
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center"><h2>Recently Added</h2></div>
        </div>
        <div class="row"></div>
    </div>
</section>
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center"><h2>Featured List</h2></div>
        </div>
        <div class="row"></div>
    </div>
</section>
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center"><h2>Best of All-Times</h2></div>
        </div>
        <div class="row"></div>
    </div>
</section>
{% endblock %}
